.body {
    background-color: rgb(178, 203, 218);
}

.header {
    background-color: #F8F9FA;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
}

.navbar {
    height: 100px;
    font-weight: 800;
}

.navbar .navbar-collapse {
    display: flex;
    justify-content: center;
}

.navbar .navbar-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar .nav-link {
    text-align: center;
}

.container {
    padding: 20px;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card-img-top {
    position: relative;
    width: 100%;
    height: 300px; /* Increased height */
    overflow: hidden;
}

.card-img-top img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.card-img-top img:not(:first-child) {
    opacity: 0;
}

.card-body {
    padding: 20px;
    flex-grow: 1;
}

.title {
    font-weight: 800;
}

.text {
    font-family: Inter;
    font-size: 16px;
}

.github-logo {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.github-link {
    margin-left: auto;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #F8F9FA;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-nav {
        flex-direction: column;
        gap: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}